
* {
    margin: 0;
    padding: 0;
}

body {
    background: #e7e1d5;
}

/* Header */
.main-header {
    text-align: center;
    padding-top: 40px;
}

.main-title {
    font-size: 22px;
}

/* Board */

.board {
    background-color: white;
    width: 400px;
    border-radius: 20px;
    margin: 50px auto;
    padding: 25px;
}

.board_guess {
    display: flex;
    justify-content: space-around;
}

.line-of-circles {
    display: flex;
    gap: 10px;
}

.line-of-circles .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgray;
}

.grid-of-circles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-of-circles .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lightgray;
}

/* Footer */
.main-footer {
    background-color: #efeade;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

.main-footer a {
    color: #7c75bb;
    text-decoration: none;
    font-weight: bold;
}

.main-footer a:hover {
    text-decoration: underline;
}