
* {
    margin: 0;
    padding: 0;
}

body {
    background: #e7e1d5;
}

.container {
    background-color: white;
    width: 400px;
    border-radius: 20px;
    margin: 50px auto;
    padding: 25px;
}

/* Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 40px;
    width: 150px;
}

.main-title {
    font-size: 22px;
}

.btn-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #928773;
  font-size: 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}
  
.btn-circle:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}
  
.btn-circle:active {
  transform: scale(0.95);
}
  

/* Board */
.board_guess {
    display: flex;
    justify-content: space-around;
}

.line-of-circles {
    display: flex;
    gap: 10px;
}

.line-of-circles .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgray;
}

.grid-of-circles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-of-circles .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lightgray;
}

/* Colors To Select */
.colorsToSelect {
    display: flex;
    justify-content: space-around;
}

.colorsToSelect .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Footer */
.main-footer {
    background-color: #efeade;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

.main-footer a {
    color: #7c75bb;
    text-decoration: none;
    font-weight: bold;
}

.main-footer a:hover {
    text-decoration: underline;
}